.color-app {
    background-color: #1B1A1A;
}

.color-title1 {
    color: #ffffff;
}

.color-title2 {
    color: #534E4E;
}

.color-paragraph {
    color: #FFFFFF;
}

.color-hover:hover {
    background-color: #2c2b2b;
}

.color-chip-header {
    color: #FFFFFF;
}

.color-chip-background {
    background-color: color-app;
}

:root {
    --color-resume-1: color-app;
    --color-resume-2: color-app;
}

.custom-border-color {
    border-color: #373737;
}