@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, #534E4E, #ffffff, #534E4E, #534E4E, #ffffff);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 16s ease infinite;
}

.animate-gradient-reverse {
  background: linear-gradient(270deg, #534E4E, #ffffff, #534E4E, #534E4E, #ffffff);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 16s ease infinite;
  animation-delay: -8s;
}